__pycache__/
.mypy_cache/
.controller_output/*
AVD_course_codebase.zip
options.cfg

**/*.weights
**/*.mov


.carla_object_detector/carla_yolov3_model/yolov3.weights
.carla_object_detector/carla_yolov3_model/rec.mov
*.pth
waypoints.txt
